---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kadeau">
  <article>
    <!-- Background Videos -->
    <div class="backgrounds">
      <div class="background background_bornholm">
        <video autoplay muted loop playsinline>
          <source src="76fc8682a944df737b31dac717e34cdcac94b96c.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="background background_default">
        <video autoplay muted loop playsinline>
          <source src="76fc8682a944df737b31dac717e34cdcac94b96c.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="background background_copenhagen">
        <video autoplay muted loop playsinline>
          <source src="f46f3b51cece00cbf93b8ce15dffeabf0607fc31.mp4" type="video/mp4" />
        </video>
      </div>
    </div>

    <!-- Page Content -->
    <section class="homepage-links">
      <a href="/" class="home-link">Copenhagen</a>
      <a href="/" class="home-link">Bornholm</a>
    </section>
  </article>
</MainLayout>

<style>
  body {
    margin: 0;
    font-family: sans-serif;
    color: rgb(234, 234, 234);
    background-color: rgb(34, 34, 34);
  }

  .backgrounds {
    position: fixed;
    top: -40px;
    right: -40px;
    bottom: -140px;
    left: -40px;
    z-index: -1;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
  }

  .background {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    filter: blur(20px);
    transition: background-color 1.6s cubic-bezier(.37, 0, .63, 1), opacity 1.6s cubic-bezier(.37, 0, .63, 1);
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .homepage-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
  }

  .home-link {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(234, 234, 234);
    transition: opacity 0.3s ease;
  }

  .home-link:hover {
    opacity: 0.7;
  }
</style>
